<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/productCart.css">
</head>
<body>
    <header>
    </header>

    <main>
        <h1>Mi Carrito de Compras</h1>
        <section class="cart-details">
            <table>
                <thead>
                    <tr>
                        <th>Direccion</th>
                        <th>Inmueble</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% cartItems.forEach(item => { %>
                    <tr>
                        <td><%= item.direccion %></td>
                        <td><%= item.tipo %></td>
                        <td><input type="number" value="<%= item.cantidad || 1 %>"></td>
                        <td>$<%= item.precio.toFixed(2) %></td>
                        <td>$<%= (item.precio * (item.cantidad || 1)).toFixed(2) %></td>
                        <td>
                                <a href="#"><button type="submit" class="btn-remove">Eliminar</button></a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>

        <section class="cart-summary">
            <h2>Resumen del Pedido</h2>
            <p>Subtotal: $<%= subtotal.toFixed(2) %></p>
            <p>Impuestos: $<%= taxes.toFixed(2) %></p>
            <p><strong>Total: $<%= total.toFixed(2) %></strong></p>
            <button class="btn-checkout">Proceder al Pago</button>
            <a href="./cart"><button class="btn-checkout">Volver a ver los prodcutos</button></a>
        </section>
    </main>
    <%-include('../partials/footer.ejs')%>
    <!-- Scripts -->
    <script src="/javascripts/home.js"></script>
    <script>
      // Agregar evento de cambio al checkbox
    document.getElementById("input").addEventListener("change", changeTheme);
    </script>
</body>
</html>
