<%- include('../partials/headProduct.ejs')%>

<%-include('../partials/header.ejs')%>

    <main>
    <section class="product-mobile">
      <div class="card">
        <img src="/images/budapest.jpg" alt="ImagenDelProducto">
        <div class="card-body">
            <h2 class="card-title">Nombre del Producto</h2>
            <p class="card-price">$99.99</p>
            <p class="card-description">Esta es una breve descripci칩n del producto. Es muy 칰til y tiene caracter칤sticas incre칤bles.</p>
        </div>
      </div>
    </section>
    <section class="product-desktop">
      <div class="product-container">
        <!-- Carrusel de im치genes -->
          <div class="product-carousel">
              <div class="carousel-images">
                <img src="/images/budapest.jpg" alt="Imagen 1">
                <img src="/images/budapest.jpg" alt="Imagen 2">
                <img src="/images/principeBelAir.jpg" alt="Imagen 3">
              </div>
          </div>

        <!-- Contenido del producto (dividido en dos columnas) -->
          <div class="product-content">
            <!-- Columna izquierda: Imagen -->
            <div class="product-image">
              <% if (locals.products) { %>
                <img src="<%= products[0].foto %>" alt="<%= products[0].direccion %>">
              <% } %>
            </div>
            <!-- Columna derecha: Informaci칩n -->
            <div class="product-details">
                <% if(locals.products) {%>

                  <h2 class="product-title"><%= products[0]?.direccion || 'Direcci칩n no disponible' %></h2>
                  <p class="product-description">Cantidad de metros cuadrados: <%= products[0]?.m2 || 'Datos no disponible' %></p>
                  <p class="product-description">Cantidad de ambientes: <%= products[0]?.ambientes || 'Datos no disponible' %></p>
                  <h3 class="product-price">$<%= products[0]?.precio || 'Datos no disponible' %></h3>
                  <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2502.5964531062596!2d14.9876113!3d51.152792399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4708dc3ac70a5227%3A0x8fa1a1d513a7407d!2sKaufhaus%20G%C3%B6rlitz!5e0!3m2!1ses!2sar!4v1736600519244!5m2!1ses!2sar"
                  width="600" 
                  height="200" 
                  style="border:0;" 
                  allowfullscreen="" 
                  loading="lazy">
                  </iframe>
                  <% } %>
                <div class="product-button">
                  <button class="contact-button" onclick="contactar('<%= products[0].direccion %>')">Contactar</button>
                  <button class="reserve-button" onclick="reservar('<%= products[0].id %>')">Reservar</button>
                  <button class="favorite-button" onclick="toggleFavorite('<%= products[0].id %>')">
                    <span id="favorite-<%= products[0].id %>">游밼</span> Agregar a Favoritos
                  </button>
                </div>
              </div>
        </div>
      </div>
    </div>
</section>

    </main>
    <%-include('../partials/footer.ejs')%>

    <!-- Scripts -->
    <script src="/javascripts/home.js"></script>
    <script>
      // Agregar evento de cambio al checkbox
      document.getElementById("input").addEventListener("change", changeTheme);
    </script>
    <!-- Script del carrusel -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
