<%- include('../partials/headCart.ejs')%>

<%-include('../partials/header.ejs')%>

<main>
    <!-- Banner Principal -->
    <div class="banner">
        <h1>Bienvenido a Nuestra Tienda</h1>
        <p>Explora nuestros productos destacados y ofertas especiales.</p>
    </div>
    
    <!-- Carrusel de Productos -->
    <div class="product-carousel">
        <% if(locals.resultadoInmueble) { %>
            <% resultadoInmueble.forEach(elemento => { %>
                <a href="/inmuebles/products/<%= elemento.id %>">
                    <div class="product-item">
                        <img src="<%= elemento.foto %>" alt="<%= elemento.direccion %>">
                        <h3><%= elemento.direccion %></h3>
                        <p>Barrio: <%= elemento.barrio %></p>
                        <span class="price">$<%= elemento.precio %></span>
                        <a href="/inmuebles/products/<%= elemento.id %>"><button class="add-to-cart">Agregar al Carrito</button></a>
                    </div>
                </a>
            <% }) %>
        <% } else { %>
            <% if (typeof message !== 'undefined') { %>
                <h2><%= message %></h2>
            <% } %>
            <% if (locals.products && products.length > 0) { %>
                <% products.forEach(elemento => { %>
                    <a href="/inmuebles/products/<%= elemento.id %>">
                        <div class="product-item">
                            <img src="<%= elemento.foto %>" alt="<%= elemento.direccion %>">
                            <h3><%= elemento.direccion %></h3>
                            <p>Barrio: <%= elemento.barrio %></p>
                            <span class="price">$<%= elemento.precio %></span>
                            <a href="/inmuebles/products/<%= elemento.id %>"><button class="add-to-cart">Agregar al Carrito</button></a>
                        </div>
                    </a>
                <% }) %>
            <% } %>
        <% } %>
    </div>
</main>

<%-include('../partials/footer.ejs')%>

<!-- Scripts -->
<script src="/javascripts/home.js"></script>
<script>
    // Agregar evento de cambio al checkbox
    document.getElementById("input").addEventListener("change", changeTheme);
</script>
</body>
</html>