<%-include('../partials/headForm.ejs')%>

<%-include('../partials/header.ejs')%>

<main>
        <div class="login-container">
        <form class="login-form" action="/users/login" method="POST">
            <p class="heading">Login</p>
            <p class="paragraph">Login to your account</p>
            <div class="input-group">
                <% if(locals.errores) {%>
                    <p><%= errores.all %></p>
                <% } %>
            <input
                required=""
                placeholder="Username"
                name="email"
                id="email"
                type="text"
                value="<%= locals.email ? email : ""%>"
                />
                <% if(locals.errores && locals.errores.email) {%>
                    <p><%= errores.email.msg %></p>
                <% } %>
            </div>
            <div class="input-group">
            <input
                required=""
                placeholder="Password"
                name="password"
                id="password"
                type="password"
                value="<%= locals.password ? password : ""%>"
            />
            <% if(locals.errores && locals.errores.password) {%>
                <p><%= errores.password.msg %></p>
            <% } %>
            </div>
            <button type="submit">Login</button>
            <div class="bottom-text">
            <p>Don't have an account? <a href="#">Sign Up</a></p>
            <p><a href="#">Forgot password?</a></p>
            </div>
        </form>
        </div>
    </main>

    <%-include('../partials/footer.ejs')%>

            <!-- Scripts -->
            <script src="/javascripts/home.js"></script>
            <script>
                // Agregar evento de cambio al checkbox
                document.getElementById("input").addEventListener("change", changeTheme);
            </script>
</html>